---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<a href="/to">Navigate to "to" animation</a><br />
	<a href="/from">Navigate to "from" animation</a><br />
	<h1>This title is not animated</h1>
</BaseLayout>
